.recentLink {
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.55) !important;

}

#buttonLayer {
  border: 0;
  color: green;
  font-size: 24px;
}

#recentLinks,
#closeCrumbs {
  position: absolute;
  left: 36%;
  top: 1px;
  width: auto;
  height: 45px;
  padding: 10px;
  margin-right: 80px;
}

#closeCrumbs {
  left: 35%;
  top: 0px;
}

.rm-find-or-create-wrapper {
  z-index: 10;
}

.rm-saving-icon .rm-saving-inner-icon {
  opacity: 1;
  z-index: 10;
}

.roam-topbar .bp3-popover-wrapper {
  background: #1e1e1e;
  z-index: 10;
}

.bp3-input {
  background: #292929 !important; /* search bar background color */
}