#recentLinks {
  position: absolute;
  left: 86px;
    height: 40px;
    width: 62%;
  padding: 10px;
  display: flex;
    overflow-x: scroll;
}

#closeCrumbs {
  position: absolute;
    left: 60px;
    height: 40px;
    padding: 10px;
}

#toggleButton {
  border: 0;
  color: green;
  font-size: 24px;
  background: transparent;
}

.recentLink {
  padding: 0 10px;
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
}

.linkNumber {
  color: #0087FF;
  padding-right: 3px;
}